    <!-- footer -->
    <div class="container">
        <div id="footer" class="row">
            <div class="icon">
                <a href="/" class="icon-stamp"></a>
            </div>
            <div>
                <p>中华诗词 <a href="/">www.shi-ci.com</a></p>
                <p>版权所有&copy;2007-2013</p>
            </div>
            <div class="icon">
                <a href="/app" target="_blank" class="icon-iphone"></a>
            </div>
            <div>
                <p>免费下载<a href="/app">iPhone App</a></p>
                <p>尽享掌上轻松阅读</p>
            </div>
            <div class="icon">
                <a href="/weixin" class="icon-weixin"></a>
            </div>
            <div>
                <p>添加中华诗词<a href="/weixin">微信号</a></p>
                <p>每日一诗阅读无压力</p>
            </div>
            <div class="icon">
                <a href="http://weibo.com/zhonghuashici" target="_blank" class="icon-weibo"></a>
            </div>
            <div>
                <p>微博关注<a href="http://weibo.com/zhonghuashici" target="_blank">@中华诗词官网</a></p>
                <p><iframe width="136" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=136&height=24&uid=1926704223&style=2&btn=red&dpc=1"></iframe></p>
            </div>
        </div>
    </div>
    <!--// footer -->
</body>
</html>
