{% include 'templates/_header.html' %}

    <div class="container">
        <div class="row">
            <div class="frame">
                <div class="frame-inner">
                    <div class="static-page">
                        <h3>中华诗词App iPhone版已正式上线，请打开您的iPhone，在AppStore中搜索“<span>中华诗词</span>”免费安装：</h3>
                        <div class="icon"><a target="_blank" href="http://itunes.apple.com/cn/app/zhong-hua-shi-ci/id539302164?mt=8" class="app-icon">免费安装！</a></div>
                        <div class="iphone-screen"><a target="_blank" href="http://itunes.apple.com/cn/app/zhong-hua-shi-ci/id539302164?mt=8" class="app-screen"></a></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'templates/_footer.html' %}
