{% include 'templates/_header.html' %}
    <div class="container">
        <div class="row">
            <div class="frame">
                <div class="frame-inner">
                    <div>
                        <form id="search" name="search" action="#" method="get">
                            在六万余首诗词中搜索：<input name="q" type="text" maxlength="15" class="search" placeholder="请输入关键词" /> <button class="btn">搜索</button>
                        </form>
                    </div>
                    <div class="condition">朝代：<span class="selected" v="">所有</span>
                {% for d in dynasties %}
                        <span v="{{ d.id }}">{{ d.name }}</span>
                {% endfor %}
                    </div>
                    <div class="condition">格式：<span class="selected">不限</span> <span>五律</span> <span>五绝</span> <span>七律</span> <span>七绝</span> <span>词</span> <span>曲</span> <span>赋</span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="poems">
{% for p in poems %}
                <div class="item">
                    <div class="item-header"></div>
                    <div class="item-body">
                        <p><a href="/poem/{{ p.id }}">{{ p.name }}</a></p>
                        <p><a href="/dynasty/{{ p.dynasty_id }}">{{ p.dynasty_name }}</a> - <a href="/poet/{{ p.poet_id }}">{{ p.poet_name }}</a></p>
                        <p>{{ p.content }}</p>
                    </div>
                    <div class="item-footer"></div>
                </div>
{% endfor %}
            </div>
        </div>
    </div>
{% include 'templates/_footer.html' %}
