body {
  background-image: url(/static/i/body-bg.png);
  background-attachment: fixed;
  background-position: top center;
}

div.go-top {
  display: none;
  opacity: 0.6;
  z-index: 999999;
  position: fixed;
  bottom: 113px;
  left: 90%;
  margin-left: 40px;
  border: 1px solid #a38a54;
  width: 38px;
  height: 38px;
  background-color: #eddec2;
  border-radius: 3px;
  cursor: pointer;
}

div.go-top:hover {
  opacity: 1.0;
}

div.go-top > div.arrow {
  position: absolute;
  left: 10px;
  top: -1px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: #a38a54;
}

div.go-top > div.stick {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 8px;
  height: 14px;
  display: block;
  border-radius: 1px;
  background-color: #a38a54;
}

#header {
  width: 950px;
  margin: 30px auto 0 auto;
}

#header div.logo {
  float: left;
  width: 260px;
  margin: -10px 0 0 10px;
}

#header div.logo a {
  display: block;
  width: 232px;
  height: 68px;
  background-image:url(/static/i/logo.png);
  background-position: 0px 0px;
}

#header div.logo a:hover {
  background-position: 0px -68px;
}

#header div.signin {
  float: right;
  width: 200px;
}

#header div.signin a.signin {
  display: block;
  float: right;
  width: 173px;
  height: 32px;
  background: transparent url(/static/i/signin.png) no-repeat;
}

#header div.signed {
  float: right;
  width: auto;
  padding: 0px;
  background-color: #f0e1c4;
  border: 1px solid #82544c;
  box-shadow: 5px 5px 2px #ccc;
}

#header div.signed a.profile {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
}

#header div.signed div.p {
  float: left;
  width: auto;
  border-left: 1px solid #82544c;
}

#header div.signed div.p p {
  display: block;
  line-height: 22px;
  margin: 2px 10px;
}

.nav {
  width: 990px;
  height: 102px;
  padding: 0;
  margin: 10px 0 20px 0;
  background: transparent url(/static/i/nav.png) no-repeat;
}

.nav .nav-inner {
  margin: 24px 20px;
  width: 950px;
  height: 54px;
  font-size: 18px;
  line-height: 54px;
  background-color: #fff;
  background: transparent url(/static/i/bg.png) repeat;
}

.nav .nav-inner a {
  display: block;
  float: left;
  margin-left: 16px;
  font-weight: bold;
}

.nav .nav-inner span.date {
  display: block;
  width: 200px;
  float: right;
  font-size: 14px;
  line-height: 28px;
  text-align: right;
  margin: 20px 20px 0 0;
}

div.frame {
  width: 938px;
  margin: 0 auto 20px auto;
  padding: 3px;
  border: 3px solid #82544c;
  background-color: #f0e1c4;
}

div.frame .frame-inner {
  width: 916px;
  margin: 3px;
  padding: 6px;
  border: 2px solid #9e725c;
}

div.frame .frame-inner div.condition {
  line-height: 20px;
  margin: 4px 0;
}

div.condition span {
  padding: 2px 6px;
  color: #c30;
  cursor: pointer;
}

div.condition span:hover {
  text-decoration: underline;
}

div.condition span.selected {
  background-color: #c30;
  text-decoration: none;
  color: #fff;
}

input.search {
  padding-left: 28px;
  background: #fff url(/static/i/search.png) no-repeat;
  background-position: 6px center;
}

button.btn {
  background-color: #f0e4d0;
  border-color: #c3b290;
}

button.btn:hover {
  background-color: #eddec2;
  border-color: #a38a54;
}

.item {
  width: 166px;
  margin: 0 0 20px 0;
  float: left;
  background-color: #f0e1c4;
}

.item:hover .item-header,
.item:hover .item-footer {
  background-image: url(/static/i/item-hover.png);
}

.item:hover .item-body {
  background-image: url(/static/i/item-body-hover.png);
}

.item-header {
  width: 166px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(/static/i/item.png);
  background-position: 0px 0px;
}

.item-footer {
  width: 166px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(/static/i/item.png);
  background-position: 0px -15px;
}

.item-body {
  width: 166px;
  background-repeat: repeat-y;
  background-image: url(/static/i/item-body.png);
}

.item-body p {
  margin: 0 19px;
  font-size: 16px;
  line-height: 28px;
}

.item-body p:first-child {
  font-weight: bold;
}

div.more {
  width: 950px;
  margin: 6px auto;
  text-align: center;
}

#more {
  width: 800px;
}

div.line {
  clear: both;
  margin: 2px 0px;
  height: 0px;
  border-top: 1px solid #cda966;
  border-bottom: 1px solid #fef4d8;
}

div.poets div.alpha-list {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px 0 0 6px;
}

div.poets a {
  display: block;
  float: left;
  width: 80px;
  font-size: 16px;
  margin: 4px 0 10px 20px;
}

#poems {
  width: 950px;
  margin: 0 auto;
  padding: 0;
}

#poem {
  width: 950px;
  margin: 10px auto;
  padding: 0;
  background-color: #f0e1c4;
}

#poem .poem-header,
#poem .poem-footer {
  width: 950px;
  background-repeat: no-repeat;
  background-image: url(/static/i/item-big.png);
}

#poem .poem-body {
  width: 850px;
  padding: 0 50px;
  background-repeat: repeat-y;
  background-image: url(/static/i/item-body-big.png);
}

#poem .poem-header {
  height: 15px;
  background-position: 0px 0px;
}

#poem .poem-footer {
  height: 16px;
  background-position: 0px -15px;
}

#poem h3,
#poem p {
  font-size: 24px;
  line-height: 42px;
}

#poem p.small {
  font-size: 16px;
  line-height: 28px;
}

#footer {
  width: 950px;
  margin: 20px auto 12px auto;
  background: transparent url(/static/i/footer.png) repeat-x;
  padding: 32px 1px 0 1px;
}

#footer div {
  width: 175px;
  margin: 0;
  float: left;
  padding: 0;
  background-position: center left;
  background-repeat: no-repeat;
}

#footer div.icon {
  width: 50px;
  height: 50px;
  margin-right: 0;
  padding-left: 10px;
}

#footer div.icon a {
  display: block;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

a.icon-stamp {
  background-image: url(/static/i/stamp.png);
}

a.icon-iphone {
  background-image: url(/static/i/iphone.png);
}

a.icon-weixin {
  background-image: url(/static/i/weixin.png);
}

a.icon-weibo {
  background-image: url(/static/i/weibo.png);
}

#footer div p {
  line-height: 25px;
  margin-left: 10px;
}

a.bigbang:hover {
  padding-left: 10px;
  text-decoration: none;
}
